header {
	margin: 50px;
}

.htmllogo {
	vertical-align: middle;
}

nav {
	display: inline-block;
	vertical-align: middle;
}

li {
	display: inline-block;
	margin-left: 90px;
}

a {
	color: #8D81FF;
	font-family: FiraGO;
	font-size: 26px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.active {
	color: #4E6FAE;
}


.s-1 {
	margin: 50px;
}

.my26 {
	width: 50px;
	height: 50px;
	background-color: #5012D5;
	color: #84FF81;
	font-family: Helvetica;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 20px;
	text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
	color: #8D81FF;
	font-family: FiraGO;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-bottom: 10px;
}

h4 {
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin-bottom: 15px;
}
.pic {
	vertical-align: top;
	margin-right: 66px;
}

.pdiv {
	display: inline-block;
	width: 778px;
	vertical-align: top;
	font-family: "BPG Nostalgia", sans-serif;
}

p {
	margin-bottom: 20px;
	color: #4E6FAE;
	font-family: FiraGO;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.newsbox {
	width: 500px;
	height: 192px;
	background: #E7E7E7;
	margin-top: 26px;
	display: inline-block;
	vertical-align: middle;
}

.news_h {
	color: #3F4145;
	font-family: "Roboto", sans-serif;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-top: 21px;
	margin-left: 23px;
}

.news_p {
	color: #7E8898;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.contact {
	color: #3F4145;
	font-family: "FiraGO";
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	margin-left: 162px;
	display: block;
}

.h4mtavari {
	font-family: "BPG Nino Mtavruli", sans-serif;
}

.h3mtavari {
	font-family: "BPG Square", sans-serif;
}